
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-skype:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-certificate:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-certificate-outline:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-tag:before { content: '\e80b'; } /* '' */
.icon-phone-1:before { content: '\e80c'; } /* '' */
.icon-skype-1:before { content: '\e80e'; } /* '' */
.icon-whatsapp:before { content: '\e80f'; } /* '' */
.icon-link:before { content: '\e810'; } /* '' */
.icon-viber:before { content: '\e812'; } /* '' */
.icon-facebook-messenger:before { content: '\e825'; } /* '' */
.icon-instagram:before { content: '\e826'; } /* '' */
.icon-twitter-1:before { content: '\f099'; } /* '' */
.icon-facebook-2:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin-1:before { content: '\f0e1'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-get-pocket:before { content: '\f265'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */